.custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #222529;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar {
    border-radius: 6px;
    width: 6px;
    background-color: #222529;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #2f71fc;
}

.editButton, .editTagBadge {
    cursor: pointer;
}
