<div class="container text-center bd-example-snippet bd-code-snippet">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody><tr><td>
    <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col-6">
            <form class="align-items-center" method="POST" action="/tags">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="tagName" class="form-label"><h4>Choose name and color of the tag</h4></label>
                    </div>
                </div>
                <div class="row g-3 justify-content-center">
                    <div class="col-auto">
                        <input type="text" class="form-control" id="tagName" name="tagName" placeholder="Tag name">
                    </div>
                    <div class="col-auto">
                        <input type="color" class="form-control form-control-color" id="tagColor" name="tagColor" value="#9e2a2a">
                    </div>
                </div>
                <div class="row g-3" style="margin: 8pt;">
                    <button type="submit" class="btn btn-primary">Add tag</button>
                </div>
            </form>
        </div>

        <div class="col">
        </div>
    </div>
</td></tr></tbody>
</table>
</div>