{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Bookmarks{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom-styling.css">
    <!-- Icon -->
    <link rel="icon" href="static/images/bookmark.png" type="image/png" sizes="16x16">
</head>
{% endblock %}

{% block body %}
<body>
    {% block navbar %}
        {{ macros.main_nav('home')}}
    {% endblock %}
    <div class="container-xl d-flex flex-column" style="min-height: 100vh; margin-top: 20pt;">
        {% block content %}
            {{ macros.nav_macro('Bookmarks') }}
        {% endblock %}
    </div>

    
    {% block footer %}
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="static/images/bookmark.png" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top"></a>
      <span class="mb-3 mb-md-0 text-body-secondary">
        Made with <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg></i> by <a href="https://github.com/JarnotMaciej" target="_blank">Maciej Jarnot</a>
      </span>
    </div>

    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">
            Powered by
            <a href="https://getbootstrap.com/" class="text-primary" target="_blank">Bootstrap</a>,
            <a href="https://www.mongodb.com/" class="text-primary" target="_blank">MongoDB</a> and <a
                href="https://flask.palletsprojects.com/en/2.0.x/" class="text-primary"
                target="_blank">Flask</a>
                <br>
                Bookmark icon provided by <a href="https://icons8.com/"
                            class="text-secondary" target="_blank">icons8</a>
            </span>
      </div>
  </footer>
</div>

    {% endblock %}
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/darkmode.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
{% endblock %}

