{% extends 'base.html' %}
{% block navbar %}{{ macros.main_nav('')}}{% endblock %}
{% block title %}Bookmarks | Error{% if error_code %} {{ error_code }}{% endif %}{% endblock %}
{% block content %}
{{ macros.nav_macro('Error!', error_code) }}
<div class="row">
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>Something went wrong. Please try again later.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Albert Einstein
        </figcaption>
    </figure>
</div>
{% endblock %}