<div id="footer" class="bg-dark-subtle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="text-center text-primary-emphasis" style="margin-top: 12pt;">Made with <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                    </svg></i> by <a href="https://github.com/JarnotMaciej" target="_blank">Maciej Jarnot</a></p>

                <p class="text-center text-primary">Powered by <a href="https://www.mongodb.com/" class="text-primary" target="_blank">MongoDB</a> and <a
                        href="https://flask.palletsprojects.com/en/2.0.x/" class="text-primary" target="_blank">Flask</a></p>
                <p class="text-center text-secondary">Bookmark icon from <a href="https://icons8.com/" class="text-secondary" target="_blank">icons8</a></p>
            </div>
        </div>
    </div>
</div>