<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="static/images/bookmark.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Bookmarks
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item {% if page == 'home' %}active{% endif %}">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item {% if page == 'tags' %}active{% endif %}">
                    <a class="nav-link" href="tags.html">Tags</a>
                </li>
                <li class="nav-item {% if page == 'edit' %}active{% endif %}">
                    <a class="nav-link" href="edit.html">Edit bookmarks</a>
                </li>
            </ul>
            <div class="btn-group" role="group">
            <button type="button" id="modeSwitch" class="btn btn-secondary d-flex">Light Mode</button>
            <a href="settings.html" class="btn btn-warning">Settings</a>
            </div>
        </div>
    </div>
</nav>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const modeSwitch = document.getElementById('modeSwitch');
        modeSwitch.addEventListener('click', function() {
            if (modeSwitch.innerHTML === 'Light Mode') {
                modeSwitch.innerHTML = 'Dark Mode';
                document.documentElement.setAttribute('data-bs-theme', 'dark');
                document.cookie = 'theme=dark; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/';
            } else {
                modeSwitch.innerHTML = 'Light Mode';
                document.documentElement.removeAttribute('data-bs-theme');
                document.cookie = 'theme=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/';
            }
        });

        // Check if a theme cookie exists and set the initial theme accordingly
        const themeCookie = document.cookie.match('(^|;) ?theme=([^;]*)(;|$)');
        if (themeCookie && themeCookie[2] === 'dark') {
            modeSwitch.innerHTML = 'Dark Mode';
            document.documentElement.setAttribute('data-bs-theme', 'dark');
        }
    });
</script>