<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="static/images/bookmark.png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Bookmarks
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item {% if page == 'home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if page == 'tags' %}active{% endif %}">
                    <a class="nav-link" href="/tags">Tags</a>
                </li>
                <li class="nav-item {% if page == 'add-bookmark' %}active{% endif %}">
                    <a class="nav-link" href="/add-bookmark">Add new bookmark</a>
                </li>
                <li class="nav-item {% if page == 'add-tag' %}active{% endif %}">
                    <a class="nav-link" href="/suggestions">Suggestions</a>
                </li>
            </ul>
            <div class="btn-group" role="group">
            <button type="button" id="modeSwitch" class="btn btn-secondary d-flex">Light Mode</button>
            <a href="/settings" class="btn btn-warning">Settings</a>
            </div>
        </div>
    </div>
</nav>