<div class="container text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="row align-items-center">
                        <div class="col">
                        </div>
                        <div class="col-12 col-md-9">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <h3 class="m-4" style="font-weight: normal">Export your bookmarks
                                    </h3>
                                </div>
                            </div>
                            <div class="mb-3 m-3">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary" id="jsonExport">Default export</button>
                                    <button class="btn btn-info" id="mdExport">Save bookmarks to MD file</button>
                                </div>
                            </div>
                            <div class="mb-3 m-3">
                                <h3 class="m-4" style="font-weight: normal">Import your bookmarks
                                </h3>
                            </div>
                            <form class="align-items-center" method="POST" action="/bookmarks-json-import" enctype="multipart/form-data">
                                <div class="mb-3 m-4">
                                    <label for="fileToImport" class="form-label">Put your file here</label>
                                    <input class="form-control form-control-lg" id="fileToImport" type="file" name="fileToImport" required>
                                </div>
                                <div class="mb-3 m-4">
                                    <button class="btn btn-primary" id="jsonImport">Import bookmarks</button>
                                </div>
                            </form>
                            <div class="mb-3 m-4">
                                <h5 class="m-4" style="font-weight: normal">You can import only the bookmark files
                                    exported by <i>Default export</i> button!
                                </h5>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="/static/js/settings-content.js"></script>